.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  
  .drawer-overlay.open {
    opacity: 1;
    visibility: visible;
  }

  label{
    color: #666666;
    font-family: sans-serif;
    font-size:small;
  }
  
 
  .drawer {
    background: #fff;
    width: 30%;
    height: 100%;
    padding: 20px;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .close-btn {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  
 
  .toggle-buttons {
    display: flex;
    padding: 0.5rem;
    background: rgb(236, 242, 251);
    font-size:1rem;
    margin:0.5rem;
  }
  
  .toggle-buttons button {
    flex: 1;
    padding: 10px;
    border: none;
    background: rgb(236, 242, 251);
    cursor: pointer;
  }
  
  .toggle-buttons .active {
    background: white;
    color: rgb(122, 166, 230);
    border-radius: 0.5rem;
    border: none;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .drawer-footer {
    display: flex;
    padding-top: 20px;
  }
  
  .back-btn,
  .save-btn {
    flex:1;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin:10px;
    border-radius: 0.5rem;
  }
  
  .save-btn {
    background: rgb(61, 126, 219);
    color: white;
  }



  

@media screen and (max-width: 768px) {
    .drawer {
      width: 100%;
      height: 100vh;
      margin-top:2rem;
      box-shadow: none; 
      border-radius: 2rem; 

    }
  
    .drawer-header {
      font-size: 1.2rem;
    }
  
    .toggle-buttons {
      font-size: 1rem;
    }
  
    input {
      font-size: 1rem;
    }
  
   
  
    .back-btn,
    .save-btn {
      width: 100%;
      font-size: 1rem;
    }
  }
  
  