.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.drawer-overlay.open {
    opacity: 1;
    visibility: visible;
}

.drawer {
    background: white;
    width: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.uploaded-images {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.image-preview {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-preview img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.delete-btn {
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
}

.upload-box {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.upload-content {
    font-size: 14px;
    color: #666;
}

.upload-icon {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
    color: #3d7edb;
}

.drawer-footer {
    display: flex;
    margin-top: auto;
    margin-bottom: 1rem;
}

.cancel-btn, .save-btn {
    flex: 1;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 0.5rem;
}

.save-btn {
    background: rgb(61, 126, 219);
    color: white;
}

.cancel-btn {
    background: white;
    border: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
    .drawer {
        width: 100%;
        height: 100vh;
        box-shadow: none;
        border-radius: 2rem;
    }

    .drawer-header {
        font-size: 1.2rem;
    }

    .upload-box, .uploaded-images {
        text-align: center;
    }

    .back-btn, .save-btn {
        width: 100%;
        font-size: 1rem;
    }
}
