.expense-list-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .expense-day {
    margin-bottom: 30px;
  }
  
  .expense-date {
    font-weight: bold;
    font-size: small;
    color: gray;
  }
  
  .expense-subdate{
    font-weight:bold;
    color: #003087;
  }
  
  .expense-total {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
  }

  

  .expense-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f9fb;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    gap: 10px;
    flex-wrap: wrap; 
  }
  
  .expense-item-title {
    font-weight: 600;
    color: #333;
    flex: 2;  
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .expense-item-details {
    display: flex;
    flex-direction: column; /* stack category and date */
    font-size: 12px;
    color: #666;
    flex: 2;  /* Balanced space */
    min-width: 0;
  }
  
  .expense-item-amount {
    font-weight: 600;
    color: #333;
    flex: 1;  /* Amount takes less space */
    text-align: right;
    min-width: 80px;  /* Prevent breaking */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  
  /* Mobile View Styling */
  @media screen and (max-width: 600px) {
    .expense-list-container {
      padding: 10px;
    }
  
    .expense-date {
      font-size: 14px;
      color: #003087;
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
  
    .expense-total {
      font-size: 14px;
      color: #000;
      margin-bottom: 15px;
    }
  
    .expense-item {
      padding: 10px;
      border-radius: 10px;
      background-color: #f8f9fb;
      margin-bottom: 12px;
    }
  
    .expense-item-title {
      font-size: 14px;
      color: #333;
    }
  
    .expense-item-details {
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      font-size: 12px;
      color: #666;
      margin-top: 8px;
    }
  }
  